@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}

body{
    font-family: $font-principal;
    box-sizing: border-box;
}

.nav-item{
    font-family: $font-principal;
    font-size: 62,5%;
}
.nav-link{
    color: $primary;
}

.nav-link:hover{
    color:$alternative;
}

