/*Colores*/

$primary: #ba9813;
$secundary:#000000;
$tertiary:#636363;
$alternative:#ffffff;
$text-color: #000000;


/*Fuentes*/
$font-principal:'Montserrat', sans-serif;

/*Espaciados*/
$spacing-large:6rem;
$spacing-medium:2.4rem;
$spacing-small:2rem;
$spacing-xsmall:1rem;

/*Tamaños*/
$large: 5.2em;
$medium: 2.2em;
$base:1.6em;
$small: 1.4em;
$xsmall: 1em;
$xxsmall: 0.1em;

/*Map*/
$fuentes:(
    large:5.2em,
    medium:2.2em,
    base:1.6em,
    small:1.4em,
    xsmall:1em,
    xxsmall:0.1em
);
